<section class="contact-section">
  <h2 class="section-title">📬 Contact Me</h2>
  <p class="section-subtitle">Let's connect and collaborate!</p>

  <div class="contact-grid">
    <!-- Mail -->
    <div class="contact-card">
      <i class="fa-solid fa-envelope contact-icon"></i>
      <h3>Email</h3>
      <p>berenusri&#64;gmail.com</p>

    </div>

    <!-- LinkedIn -->
    <div class="contact-card">
      <i class="fa-brands fa-linkedin contact-icon"></i>
      <h3>LinkedIn</h3>
      <p>www.linkedin.com/in/renusri513</p>
    </div>
  </div>
</section>
