/* You can add global styles to this file, and also import other style files */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;

  .home-wrapper {
    background: linear-gradient(-45deg, #111, #222, #333, #111);
  }

  .cta-button {
    background: #03a9f4;
    color: white;
  }
}
